/* 
Alex Ato
Jorge Lopez
Project #4 Business Redevelopment
prototype link
https://xd.adobe.com/view/cf8d23df-3eae-488d-ab14-feb73f3fdc43-9ade/screen/090feac2-c1fc-4725-9240-cc6a56d86ba2
*/
.center{
    display: flex;
    justify-content: center;
}
a{
    font-size: 30px;
    color: #CE778B;
    font-weight: 600;
}
.shadow {
    border-bottom: 1px solid;
    box-shadow: 5px 10px ;
  }
.nav-link:hover{
    color: black;
}
.active{
    text-decoration: underline;
    
}

.topColor{
    background-color: #FEF9F9;
}

.picFormat2{
    width: 104%;
    height: 103%;
}

.blurr{
    filter: blur(3px);
  -webkit-filter: blur(3px);
}

/* .picFormat3{
    width: 100%;
    height: 670px;
} */

