/* 
Alex Ato
Jorge Lopez
Project #4 Business Redevelopment
prototype link
https://xd.adobe.com/view/cf8d23df-3eae-488d-ab14-feb73f3fdc43-9ade/screen/090feac2-c1fc-4725-9240-cc6a56d86ba2
*/
.center{
    display: flex;
    justify-content: center;
}
a{
    font-size: 30px;
    color: #CE778B;
    font-weight: 600;
}
.Bottomshadow {
    
    box-shadow: 0px 25px 20px 5px #e6e5e5; 
}
.nav-link:hover{
    border-left: 5px solid #e6bec7;
    border-right: 5px solid #e6bec7;
    color: #CE778B;
}
.active{
    text-decoration: underline;
}
.topColor{
    background-color: #FEF9F9;
}
.picFormat{
    width: 104%;
}
.blurr{
    filter: blur(3px);
  -webkit-filter: blur(3px);
}
.namePrice{
    font-weight: 700;
    font-size: 20px;
}
.topSpace{
    margin-top: 6%;
    margin-left: 100px;
    margin-right: 100px;
}
.picFormat2{
    width: 100%;
    
}
